.hero-wrapper {
    padding-top: 65px;

    .hero-content {
        .hero-wrap-heading {
            .h1 {
                color: #fff;
                padding-bottom: 15px;

                span {
                    color: #ed1d49;
                }
            }

            p {
                padding-bottom: 18px;
                margin: 0;
                font-size: 16px;
                line-height: 1.4;
            }
        }
    }

    .hero-signup-btn {
        button {
            box-shadow: 0 0 25px rgb(237 29 73 / 50%);
            transition: all .1s;
        }

        .hero-signup-btn-text {
            p {
                b {
                    color: $color_black;
                }
            }
        }

    }
}