@mixin  first_one{
                    
    display: flex;
    align-items: center;
    height: 31px;
    padding: 0 9px;
    background-color:$color_grey-80;
    border-radius: 8px;
    cursor: pointer;
    opacity: .8;
    &:hover{
        opacity: 1;
    }
    .coin_logo_wraper{
        display: flex;
        align-items: center;
        .img{
            margin-right: 4px;
        }
        span{
            color: $color_white;
            font-size: 10px;
        }
    }
    &:nth-child(1){
        margin-right: 10px;
    }
}
.footer_main {
    background-color: $color_background-footer;
    padding: 40px 16px;
    margin-top: auto;
    z-index: 3;

    .footer_container {
        max-width: 1024px;
        margin: 0 auto;

        .footer_colum_content_wrapper {
            .footer_linK_label_wraper {
                margin-bottom: 15px;

                .main_top_heading {

                    color: $color_grey-20;
                    text-transform: uppercase;
                    margin-top: 0;

                    line-height: 16px;
                    display: block;
                    font-size: 11px;
                }

            }

            .footer_link {
                color: $color_grey-40;
                text-decoration: none;
                transition: color .3s;
                font-size: 11px;
                line-height: 2.2;
                cursor: pointer;

                &:hover {
                    color: $color_grey-20;
                }

            }

            .footer_logo_text_wrapper {
                p {
                    margin: 0;
                    font-size: 9px;
                    color: $color_grey-40;
                    align-self: center;
                }

            }

            .footer_logo_wrapper {
                margin-bottom: 15px;

                .imag_wraper {
                    position: relative;
                    width: 150px;
                    height: 50px;

                    &:hover {
                        transform: translateY(-7px);
                        transition: all 0.3s ease-in-out;
                    }
                }

                .imag_wraper1 {
                    position: relative;
                    width: 48px;
                    height: 22px;

                    &:hover {
                        transform: translateY(-7px);
                        transition: all 0.3s ease-in-out;
                    }

                }

                i {
                    width: 36px;
                    height: 36px;
                    border: 2px solid $color_white;
                    color: $color_white;
                    border-radius: 50%;
                    line-height: 32px;
                    font-size: 13px;
                }
            }
        }

        
        .social_media_wraper {
            flex-wrap: wrap;
            .social_icon_wrapper_inner {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                ._icon_styled_div {
                    cursor: pointer;
                    background: $bg_gradiant_blue;
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                    margin: 0 4px;
                    transition: all .3s;
                    &:hover {
                        transform: scale(1.15);
                    }
                    &:nth-child(3) {
                        background: $bg_gradiant_inta;
                    }
                    &:nth-child(4) {
                        background: $bg_youtob_Gradiant;
                    }
                    &:nth-child(5) {
                        background: $bg_steemit_gradiant;
                    }
                    &:nth-child(6) {
                        background: $bg_bitcoin_talk;
                    }
                    &:nth-child(7) {
                        background: $bg_tiktok_rgadiant;
                    }
                    &:nth-child(8) {
                        background: $bg_youtob_Gradiant;
                    }
                    &:nth-child(9) {
                        background: $bg_discord_gradiant;
                    }
                    &:nth-child(10) {
                        background: $bg_reddit_gradiant;
                    }
                }
            }
            .coin_detail_wrapper{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
               
                // @extend .first_one;
                .first_one{
                    @include first_one;
                }
            }
        }
        .copy_write_main {
           
            flex-wrap: wrap;
            .Copywrite_text {
                font-size: 9px;
                color: $color_grey-40;
            }
            .first_one{
                @include first_one;
                display: none;
                @media screen and (max-width:600px){
                    display: block;
                }
                

            }
           

        }
    }
    .divider {
        border: 1px solid $colo_divider;
        margin: 20px 0;
    }

    

    @media screen and (min-width:601px) and (max-width:900px) {
        padding-left: 16px;
        padding-right: 16px;

    }

    @media screen and (max-width:600px) {
        padding-left: 16px;
        padding-right: 16px;

    }
}