// .top-feature {
.grid {
    display: grid;
    background: #8ca0ff;
    border: solid red !important;
    grid-template-areas:
        "win_real win_real welcom_bonus welcom_bonus naga_charges free_crypto"
        "cash_back rack_back welcom_bonus welcom_bonus mining mining"
    ;

    .win_real {
        grid-area: win_real;
        background: rgb(68, 0, 255);
        color: green;
    }

    .welcom_bonus {
        grid-area: welcom_bonus;
        background-color: #ffa08c;
    }

    .naga_charges {
        grid-area: naga_charges;
        background-color: #9fc00d;
    }

    .free_crypto {
        grid-area: welcom_bonus;
        background-color: #803b2d;
    }

    .cash_back {
        grid-area: free_crypto;
        background-color: #5336f7;
    }

    .rack_back {
        grid-area: rack_back;
        background-color: #8cff9f;
    }

    .mining {
        grid-area: mining;
        background-color: #e24dbd;
    }
}